<p style="color: green"><%= notice %></p>

<h1>Friends</h1>

<%= link_to "New friend", new_friend_path, class: "btn btn-primary" %>

<div id="friends">
  <table class="table">
    <thead>
      <tr>
        <td scope='col'>First name</td>
        <td scope='col'>Last name</td>
        <td scope='col'>Email</td>
        <td scope='col'>Phone</td>
        <td scope='col'>Twitter</td>
        <td scope='col'></td>
      </tr>
    </thead>
    <tbody>
        <% @friends.each do |friend| %>
          <tr>
              <%= render partial: "friend_table", locals: {friend:friend} %>
          </tr>
        <% end %>
    </tbody>
  </table>
</div>

